<div style="background-color: #212529;" class="container">
    <header class="d-flex py-3">
      <ul class="nav nav-pills justify-content-between">
        <li class="nav-item" style="margin-right: 0.75rem;"><a class="nav-link active" aria-current="page" routerLink="dashboard">Home</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="about">About</a></li>
        <li class="nav-item" style="position: fixed; right: 150px;"><a class="nav-link" routerLink="login">Login / Signup</a></li>
      </ul>
    </header>
  </div>

<router-outlet></router-outlet>